<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relations</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- 다른 네비게이션 링크들... -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><span>{{ user.username }}</span></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><span>{{ user.id }}</span></li>
                <li><span>{{ user.name }}</span></li>
            {% endif %}
        </ul>
    </nav>
    <h1>User Relations and States</h1>
    <a href="{% url 'makeRelations' %}">관계 추가 </a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.phoneNum }}</td>
                <td>{{ result.state }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>