[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/mac-venv/bin/uwsgi -i /home/ubuntu/ProjectFile/YellowLine/backend/uwsgi/YellowLine.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target